* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/*
.sidebar {
    width: 30%;
    height: 100%;
    float: left;
    background-color: black;
}

.content {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
    background: #ccc;
}
*/

/*
.box {
    width: calc(100% / 3);
    height: 200px;
    background-color: red;
}
*/

.box { 
    width: 100vw; /* VW significa Viewport width = largura do navegador  */
    height: 100vh; /* VH significa Viewport height = altura do navegador */
    background-color: red;
}
