* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;

}

.container {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    width: 33.333%;
    height: 300px;
    background-color: green;
    float: left;
    border: 1px solid black;
    color: white;
}

@media screen and (max-width:768px) {
    .box {
        width: 100%;
    }
}