* {
    margin: 0;
    padding: 0;
}

.menu {
    width: 1300px;
    background-color: red;
    text-align: right;
    padding: 10px;
}

.menu a {
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}