* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

form {
    width: 96%;
    max-width: 600px;
    margin:auto;
    margin-top: 40px;
    text-align: center;
}

form fieldset{
    padding: 10px 30px 30px 30px;
    border: 1px solid #ccc;
}

form legend {
    text-align: center;
    font-size: 17px;
    color: rgb(130, 130, 130);
}

.nome-email  {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 80%;
    padding: 10px 13px;
    border-radius: 20px;
}

form select {
    width: 80%;
    text-align: center;
    padding: 10px 13px;
}

#idade {
    margin-top: 20px;
    border-radius: 20px;
}

.radio-input {
    display: inline-block;
    margin-top: 20px;
}

.radio-input span {
    margin-left: 13px;
    font-size: 16px;
}

form h2 {
    margin-top: 20px;
}

.comidas {
    margin-top: 20px;
    display: inline-block;
    text-align: left;
}

div textarea {
    resize: none;
    width: 400px;
    margin-top: 20px;
    height: 150px;
    border: 1px solid #ccc;
    outline: 0;
}

.submit-input {
    text-align: center;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(130, 130, 130);
    color: white;
    outline: 0;
    cursor: pointer;
}
